.navbar {
  min-height: 140px;
  background-color: #DFA213;
  color: #393733;
  font-family: 'Barlow', sans-serif;
  font-weight: 800;
}

.bg-light {
  background-color: #DFA213;
}

.form-inline {
  background-color: #E8C97E;
  font-family: 'Barlow', sans-serif;
}

.form-control {
  background-color: #E8C97E;
  border-color: #E8C97E ;
  font-family: 'Barlow', sans-serif;
}

.btn-outline-success {
  background-color: #E8C97E;
  color: #C6481B;
  border-color: #C6481B;
}

.body {
  font-family: 'Barlow', sans-serif;
  color: #393733;
  background-color: #F1F0EA;
  text-align: center;
}

.title {
  font-size: 48pt;
  font-weight: 800;
  padding: 20px;
}

.sub {
  font-size: 24pt;
  font-weight: 800;
  padding-top: 50px;  
  padding-bottom: 12px;

}

.copy {
  font-size: 18pt;
  font-weight: 400;
  padding: 15px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.cardContainer {
  margin-bottom: 15px;
}
.card {
  margin: 0 auto;
}
.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  width: 60%;
  padding: 10px;
}
.row {
  justify-content: center;
  width: 100%;
}

.link {
  text-decoration: underline;
  color: #C6481B;
  size: 22pt;
  padding-bottom: 25px;
}

.service {
  background-color: #93AF81;
  align-content: center;
  color: #F1F0EA;

}

.servicesButton {
  align-content: center;
  padding-top: 25px;
}

 .btn:hover { 
  background-color: #C6481B;
  border-color: #C6481B;
 }



 .h4 {
  font-size: 24pt;
  align-items: center;
  font-weight: 700;
  padding: 15px;

}
 .h5 {
   font-size: 18pt;
   align-items: center;
   font-weight: 600;
 }

a {
  text-decoration: none;
  color: #393733;
}
 .donate {
   background-color: #93AF81;
   padding-left: 30px;
   padding-right: 30px;
   margin-right: 40px;
 }

 .list {
   text-align: left;
   margin-left: 150px;
   margin-right: 150px;
   padding: 15px;
 }
 .footer {
   background-color: #393733;
   height: 284px;
   color: #F1F0EA;
   padding: 60px;
   font-size: 10pt;
   align-items: center;
   font-weight: 600;
 }

 .dropdown-menu{
  background-color: #DFA213;
  border-left: 1px solid #F1F0EA;

}

.dropdown-item:hover {
  color: #F1F0EA;
  background-color: #C6481B;
}


.footerText {
 padding-top: 40px;
}

.dropdown-divider {
  border-top: 1px solid #F1F0EA;
}
.img-fluid {
  width: 100vw;
}
.hero {
  text-align: center;
  background-color: #F1F0EA;
}
